@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: linear-gradient(-45deg, rgba(89, 145, 191, 0.786), white, rgba(17, 123, 74, 0.781) 110%)
}

#cta{
    background: linear-gradient(45deg, white -60%, rgba(17, 123, 73, 0.683) 30%, rgba(17, 123, 73, 0.354) 80%, white )
}

/* hamburger menu */
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position:absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}